.certImg {
    width: 48%;
    margin: 5px;
    filter: grayscale(100%);
    
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
   .certImg {
       width: 47%;
       margin-top: 15px;
   }
    }