

.imgDivLeft {
    float: left;
    width: 50%;
    position: relative;
    margin-left: -18px;
}
.imgDivRight {
    float: right;
    width: 50%;
    position: relative;
}

.imgText {
    margin-left: 20px;
    width: 100%;
}
.certImg {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    filter: grayscale(100%);
    border-radius: 2px;
    
}

.certImg:hover {
opacity: 0.5;
}

.imgTitle {
    font-size: 25px;
    font-style: italic;
}
.portfolio {
    margin-top: 5%;
    padding: 10px;
    margin-bottom: 360px;
}

.bioLabel {
    font-size: 25px;
}


/* iphone x */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .workd {
            margin-top: 20px;
        }
       
       
    }

    /*  iphone 4 Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
   
 .workd {
    margin-top: 40px;
 }
}

/* iphone 5 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .workd {
        margin-top: 40px;
    }
}

/* iphone 6 7 8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .workd {
        margin-top: 20px;
    }
}

/* ipohne 6 7 8 + */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .workd {
        margin-top: 40px;
    }
}